/* General styling */
body {
    font-family: Arial, sans-serif;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAIkRwZdm5sd72d8Otctt3IyM0mOpHkcvufg&usqp=CAU');
    background-size: cover;
    background-position: center;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0000ff; /* Blue header */
    padding: 20px;
    text-align: center;
    color: white;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

.team {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
}

.person {
    text-align: center;
}

.person img {
    width: 150px;
    border-radius: 50%;
    animation: fadeIn 2s ease-in-out;
}

.person p {
    margin-top: 10px;
    font-weight: bold;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}


.join-section {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQHFL3jVNEE_dHt42tBxH4XLoBFt6ohlHJ_gQ&usqp=CAU');
    background-size: cover;
    padding: 60px;
    color: white;
    text-align: center;
}

.form-container {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
}

.form-container form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

.form-container form button {
    width: 100%;
    padding: 10px;
    background-color: #0000ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
